{{#if flash}}
  <div
    class='divImage'
    style='display: flex;
justify-content: center;'
  >
    <p
      style='padding: 1em; background-color: #30475E; color:white; border-radius: 25px; width: max-content;'
    >{{flash}}
    </p>
  </div>
{{/if}}