{{#if user}}
  <nav
    class='navbar navbar-expand-lg navbar-dark bg-dark'
    style='margin: 0 0 2rem 0;'
  >
    <a href='/' class='nav-item nav-link'>Home</a>
    <a href='/login/profile/{{user}}' class='nav-item nav-link'>Profile</a>
    <a href='/login/profile/{{user}}/snippets' class='nav-item nav-link'>See all
      snippets</a>
    <a href='/login/profile/{{user}}/update' class='nav-item nav-link'>Modify a
      snippet</a>
    <a href='/login/logout' class='nav-item nav-link'>Logout</a>
  </nav>
{{/if}}

{{#unless user}}
  <nav
    class='navbar navbar-expand-lg navbar-dark bg-dark'
    style='margin: 0 0 2rem 0;'
  >
    <a href='/' class='nav-item nav-link'>Home</a>
    <a href='/user' class='nav-item nav-link'>Snippets</a>
    <a href='/login' class='nav-item nav-link'>login</a>
    <a href='/signup' class='nav-item nav-link'>sign up</a>
  </nav>
{{/unless}}