{{#if user}}
  <p>Hello
    <b>{{user}}</b>
  </p>
  <p>You are already logged in, you can either check the list of issues or log
    out
  </p>
{{/if}}

{{#unless user}}
  <p>Press
    <a href='/login'>login</a>
    if you have an account or
    <a href='/signup'>sign up</a>
    to create one
  </p>
  <p>Please authenticate in order to check the list of issues</p>
  <p>Snippets gives you the opportunity to create and modify your own code
    snippets, so if you want an alternative to the mainstreams GitHub or GitLab
    this is the place for you.</p>
{{/unless}}