<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Webhooks</title>
  </head>
  <body>
    <h3><span id='welcome'>Welcome {{user}}! </span></h3>
    <p><span
        style='visibility: hidden; background-color: #ccf;'
        id='message'
      ></span></p>
    <h2>List of all issues</h2>
    <div><span id='issues'></span></div>

    <p>Seconds since server started: <span id='seconds'></span></p>

  </body>
</html>