<h1>Login</h1>

<form method='post'>
  <p><input type='text' name='user' placeholder='username' /></p>
  <p><input type='password' name='password' placeholder='password' /></p>
  <p><input
      type='submit'
      name='doit'
      value='Login'
      class='btn btn-primary btn-lg'
    /></p>
</form>