<h1>Sign Up</h1>

<form method='post'>
  <p><input type='text' name='user' placeholder='username' /></p>
  <p><input type='password' name='password' placeholder='password' /></p>
  <input type='submit' name='doit' value='Sign Up' class='btn btn-dark' />
</form>